{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}
{{ range first 1 $reusablePages }}

<!-- skillset section -->
<div id="home" class="wrapper-home col-12 pt-8 pb-8 pt-md-10 pb-md-10">
  <div class="col-12">
      <h1 class="text-center mb-3" style="color:#000000;">
        Look what we can do
      </h1>
      <p class="text-center" style="padding:25px; color:white;">
        We're part designer, part programmer, part developer. We bunker down indoors on rainy days thinking about new products for people to use in daily life. Web and mobile apps, street wear, prints. It's a sandbox out there and we're kids. 
      </p>
    </div>
  <div class="row justify-content-center">
    {{ range .Site.Data.features }}
    <div class="col-12 col-md-6 col-lg-4 mb-2">
      <div class="feature">
        {{ if .image }}<div class="feature-image"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .image }}" /></div> {{ end }}
        <h2 class="feature-title">{{ .title }}</h2>
        <div class="feature-content">{{ .description }}</div>
      </div>
    </div>
    {{end}}
  </div>
</div>

<!-- main product section  -->
<div id="home" class="strip bg-cover bg-position-top bg-overlay" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-6">
        <h2 class="text-primary text-capitalize">{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

<!-- skill section -->
<!-- {{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-3">Our skillset</h2>
    </div>
    {{ range first 6 (sort $services ".Params.weight") }}
    <div class="col-12 col-md-4 mb-1">
      {{ .Render "summary" }}
    </div>
    {{ end }}
    <div class="col-12 text-center">
      <a class="button button-primary" href="{{ .Site.BaseURL }}services">See more of our skills</a>
    </div>
  </div>
</div>
{{end}} -->

<!-- check us out section -->
{{ range first 1 (after 1 $reusablePages) }}
<!-- <div id="home" class="strip bg-primary bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'> -->
<div id="home" class="strip wrapper-home" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        <p>{{ .Content }}</p>
        <a class="button button-white" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
